<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Materias de Maestro</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../resources/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Third party plugin CSS-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="resources/styles.css" rel="stylesheet" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

  </head>
  <body id="page-top">
    <% if(login && rol=="maestro") { %>
    <!-- Navigation-->
    <nav
      class="navbar navbar-expand-lg navbar-dark fixed-top py-3"
      id="mainNav"
    >
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">UPMP</a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto my-2 my-lg-0">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio"
                >Materias</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/logout">Salir</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
      <div class="container h-100">
        <div
          class="row h-100 align-items-center justify-content-center text-center"
        >
          <div class="col-lg-10 align-self-end">
            <h1 class="text-uppercase text-white font-weight-bold">
              Bienvenido al Gestor de Calificaciones 
            </h1>
            <hr class="divider my-4" />
          </div>
          <div class="col-lg-8 align-self-baseline">
            <p class="text-white-75 font-weight-light mb-5">
              Aqui podra manipular todas las calificaciones de las materias impartidas
            </p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#portfolio"
              >Materias Impartidas</a
            >
          </div>
        </div>
      </div>
    </header>

    <!-- Materias-->
    <div id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
            
          <div class="col-lg-4 col-sm-6">
            <a
              class="portfolio-box"
              href="/ingles"
            >
              <img
                class="img-fluid"
                src="resources/assets/img/portfolio/thumbnails/ingles.jpg"
                alt=""
              />
              <div class="portfolio-box-caption">
                <div class="project-category text-white-50">Materia</div>
                <div class="project-name">Ingles</div>
              </div>
            </a>
          </div>
          
          
          <div class="col-lg-4 col-sm-6">
            <a
              class="portfolio-box"
              href="/basededatos"
            >
              <img
                class="img-fluid"
                src="resources/assets/img/portfolio/thumbnails/DB.jpeg"
                alt=""
              />
              <div class="portfolio-box-caption">
                <div class="project-category text-white-50">Materia</div>
                <div class="project-name">Administracion de Bases de Datos</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <% } else if(rol=='alumno') { %>
        <script>
            Swal.fire({
              title: "No Autorizado",
              text: "No es un maestro",
              icon: "error",
              showConfirmButton: true,
              timer: false,
            }).then(() => {
              window.location = "/login";
            });
          </script>
         
        <% } else  { %>
        <script>
          Swal.fire({
            title: "Error",
            text: "Debes iniciar sesion",
            icon: "error",
            showConfirmButton: true,
            timer: false,
          }).then(() => {
            window.location = "/login";
          });
        </script>
        <% } %>
    <!-- Bootstrap core JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <!-- Core theme JS-->
    <script src="../controllers/scripts.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
