<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <!-- Usamo boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../resources/style.css" />

    <title>Inicio Alumno</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
      <a class="navbar-brand text-light" href="/">UPMP</a>
    </nav>
    <div class="container ">
        <br>
      <div class="row justify-content-center ">
        <div class="col-sm ">
            <a class="btn btn-primary" href="/Matematicas" role="button">MATEMÁTICAS PARA INGENIERÍA II</a>
        </a>
        <div class="col-sm ">
            <a class="btn btn-primary" href="/programacion" role="button">
            PROGRAMACION ORIENTADA A OBJECTOS</a>
        </div>
        <div class="col-sm "><a class="btn btn-primary" href="/basededatos" role="button">
            ADMINISTRACIÓN DE BASE DE DATOS</a>
      
          </div>
      <br>
      <div class="row justify-content-center">
        <div class="col "><a class="btn btn-primary" href="/redes" role="button">
            INTERCONEXIÓN DE REDES</a>
        <div class="col "><a class="btn btn-primary" href="/habilidades" role="button">
            HABILIDADES GERENCIALES</a>
        <div class="col "><a class="btn btn-primary" href="/sistemasOperativos" role="button">
            SISTEMAS OPERATIVOS</a>
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="col"><a class="btn btn-primary" href="/ingles" role="button">INGLES</a>
      </div>        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
